
/*var(--main-bg-color);*/
/*:root {
  --main-background: #ffffff;
  --main-color-one: #5F4380;
  --main-color-two: #8F95CF;
  --main-color-three: #3C0038;
  --main-color-four: #341445;
  --main-color-five: #43224F;
  --main-color-six: #000000;
}
#introslider {  height: 400px; background: url(./_images/purple.jpg) center center no-repeat #323232; background-size: cover }
.sphere {  height: 250px; background: url(./_images/purple.jpg) center center no-repeat #323232; background-size: cover }*/

:root {
  --main-background: #ffffff;
  --main-color-one: #E8EDF1;
  --main-color-two: #0A3253;
  --main-color-three: #447499;
  --main-color-four: #44647C;
  --main-color-five: #1E3648;
  --main-color-six: #222222;
}
#introslider {  height: 400px; background: url(./_images/gray2.jpg) center center no-repeat #323232; background-size: cover }

/* ### general ### */
html, body { font-family: 'Titillium Web', sans-serif; font-size: 14px; color: #ffffff; min-height: 100%; background: #000000; /*background: url(./_images/Forrest-Sun.jpg) center center no-repeat #323232; background-size: cover;*/}
input, select, textarea { font-family: 'Titillium Web', sans-serif; font-size: 12px; color: #323232; }
img { border: 0px; display: block; }
a, input { outline: none; color: #323232;}
* { margin: 0; padding: 0; font-family: 'Titillium Web', sans-serif; }
div, section, nav { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

h1 { font-size: 22px; padding-bottom: 10px; margin: 0px; color: #ffffff; font-weight: normal; /*text-transform: uppercase;*/ }
h2 { font-size: 22px; padding-bottom: 10px; color: #ffffff; font-weight: normal; /*text-transform: uppercase;*/ }
h4 { font-size: 15px; padding-bottom: 10px; color: #ffffff; font-weight: normal; /*text-transform: uppercase;*/ }
h5 { font-size: 14px; padding-bottom: 10px; color: #cccccc; font-weight: normal; /*text-transform: uppercase;*/ }
p { padding-bottom: 15px; line-height: 18px; letter-spacing: 1.5px; color: #ffffff; font-weight: normal; }

.clear { clear: both; height: 0px; }

.pure-g { }
.pure-g.main { min-height: 80px; background: var(--main-background); }
.pure-g.main h2 { color: var(--main-color-five) !important;  }
.pure-g.one { background: var(--main-color-one); }
.pure-g.one h2 { color: var(--main-color-five) !important;  }
.pure-g.two { background: var(--main-color-two); }
.pure-g.three { background: var(--main-color-three); }
.pure-g.four { background: var(--main-color-four); }
.pure-g.five { background: var(--main-color-five); }
.pure-g.six { background: var(--main-color-six); }


.pure-u-1 { }

#header {}

  #header a.logo { display: block; width: 86px; height: 46px; background: url(./_images/dnalogohorblue.png); text-indent: -9999px; margin: 15px 0px 0px 30px; float: left; }
  #header nav ul { display: inline-block; float: right; list-style: none; margin: 30px 20px 0px 0px; }
    #header nav ul li { display: inline-block; float: left; padding-left: 17px; }
        #header nav ul li a { font-size: 20px; text-transform: uppercase; text-decoration: none; color: #1E3648; font-family: 'Titillium Web', sans-serif; }
        #header nav ul li.current_page_item a, #main-navigation nav ul li a:hover { color: #1E3648; font-weight: bold; }
  #header #mobilemenu { display: none; float: right; width: 34px; height: 31px; text-indent: -9999px; background: url(./_images/mobilemenu.gif); margin: 25px 15px 0px 0px; }
  .mmclosebt { display: block; position: absolute; left: 20px; top: -30px; width: 20px; height: 20px; background: url(./_images/close.png); text-indent:-9999px; }



#introduction { text-align: center; }
#introduction article { display: block; margin: 60px 0px; }
  #introduction article img { display: block; margin: 0px auto 20px auto; }
  #introduction blockquote { font-size: 30px; color: #1E3648; font-weight: normal; padding: 0 20px 18px 20px; quotes: "\201C" "\201D"; text-align: center; }
  #introduction blockquote p { display: inline; font-size: 16px; color: #1E3648; font-weight: bold; padding: 0 0 18px 0; text-align: center; }
  #introduction blockquote:before { content: open-quote; font-weight: bold; padding-right: 2px; }
  #introduction blockquote:after { content: close-quote; font-weight: bold; padding-left: 2px; }
  #introduction article h4 { font-size: 18px; color: #1E3648; font-weight: normal; }


#about { padding: 60px 0px; }
  #about .image { background: url(./_images/line-hor.png) center center repeat-x;  }
  #about .image .imageholder { display: block; float: right; width: 215px; height: 215px; padding: 5px; border: solid 2px #ffffff; background: var(--main-color-four); -webkit-border-radius: 200px; -moz-border-radius: 200px; border-radius: 200px;}
  #about .image img { display: block; width: 200px; height: 200px; -webkit-border-radius: 200px; -moz-border-radius: 200px; border-radius: 200px;}

  #about .text article { padding:  0px 100px 0px 60px; }
  #about .text article h2 { display: block; color: #ffffff; font-size: 40px; padding: 0px 0px 15px 0px; }
  #about .text article a { display: inline-block; margin: 15px auto auto auto; padding: 10px 20px; border: solid 2px #ffffff; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
      #about .text article a:hover { color: var(--main-color-four); background: #ffffff; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}


#blogoverview.pure-g { padding: 60px 0px; }
  #blogoverview .margin { padding: 40px 0px; }
  #blogoverview .image { background: url(./_images/line-hor.png) center center repeat-x;  }
  #blogoverview .image .imageholder { display: block; float: right; width: 215px; height: 215px; padding: 5px; border: solid 2px #ffffff; -webkit-border-radius: 200px; -moz-border-radius: 200px; border-radius: 200px;}
  #blogoverview .image .imageholder.two { background: var(--main-color-two); }
  #blogoverview .image .imageholder.three { background: var(--main-color-three); }
  #blogoverview .image .imageholder.four { background: var(--main-color-four); }
  #blogoverview .image .imageholder.five { background: var(--main-color-five); }
  #blogoverview .image .imageholder.six { background: var(--main-color-six); }
  #blogoverview .image .imageholder.right { display: block; float: left; }
  #blogoverview .image img { display: block; width: 200px; height: 200px; -webkit-border-radius: 200px; -moz-border-radius: 200px; border-radius: 200px;}
  #blogoverview .size-full, #blogoverview .size-large { display: block; width: 100%; height: auto; margin: 20px 0px; border: solid 1px #ffffff; padding: 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

  #blogoverview .text article { padding:  0px 100px 0px 60px; }
  #blogoverview .text article h1 { display: block; color: #ffffff; font-size: 30px; padding: 0px 0px 15px 0px; }
  #blogoverview .text article h2 { display: block; color: #ffffff; font-size: 26px; padding: 20px 0px 15px 0px; }
    #blogoverview .text article h2 a { color: #ffffff; text-decoration: none; }
    #blogoverview .text article h3 { color: #ffffff; font-size: 16px; font-weight: normal; padding-bottom: 10px; font-style: italic; }
  #blogoverview .text article p { line-height: 18px; padding-bottom: 20px; }
  #blogoverview .text article p iframe { display: block; width: 100%; height: 400px; margin: 20px 0px; border: solid 1px #ffffff; padding: 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
  #blogoverview .text article a { color: silver; text-decoration: underline;; }
  #blogoverview .text article a.more { display: inline-block; margin: 15px auto auto auto; padding: 10px 20px; border: solid 2px #ffffff; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
      #blogoverview .text article a.more:hover { color: var(--main-color-four); background: #ffffff; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}

#skills { text-align: center; padding: 20px 0px; }
#skills .block { background: url(./_images/line-hor.png) left 36px repeat-x; margin: 40px 0px; }
    #skills .block article { display: block; margin: 0px 20px; }
    #skills .block article p { display: block; margin-top: 15px;  }
    #skills .block article a { display: inline-block; margin: 15px auto auto auto; padding: 10px 20px; border: solid 2px #ffffff; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
      #skills .block article a:hover { color: var(--main-color-four); background: #ffffff; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s; }
  #skills h2 { display: block; color: #ffffff; font-size: 40px; padding: 30px 0px 0px 0px; }
  #skills h3 { display: block; color: #ffffff; width: 70px; font-size: 17px; height: 45px; margin: 0 auto; padding: 25px 0px 0px 0px; border: solid 2px #ffffff; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
  #skills h4 { display: block; color: #ffffff; font-size: 20px; padding: 25px 0px 0px 0px; }
    #skills h3.html { background: url(./_images/icon-html.png) left top var(--main-color-four); text-indent: -9999px; }
    #skills h3.css { background: url(./_images/icon-css.png) left top var(--main-color-four); text-indent: -9999px; }
    #skills h3.pure { background: url(./_images/icon-pure.png) left top var(--main-color-four); text-indent: -9999px; }
    #skills h3.jquery { background: url(./_images/icon-jquery.png) left top var(--main-color-four); text-indent: -9999px; }


#admos { height: 200px; background: url(./_images/dna-profile.jpg) center center no-repeat #323232; background-size: cover; }


#backend { text-align: center; padding: 20px 0px; }
#backend .block { background: url(./_images/line-hor.png) left 36px repeat-x; margin: 60px 0px; }
    #backend .block article { display: block; margin: 0px 20px; }
    #backend .block article p { display: block; margin-top: 15px;  }
    #backend .block article a { display: inline-block; margin: 15px auto auto auto; padding: 10px 20px; border: solid 2px #ffffff; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
      #backend .block article a:hover { color: var(--main-color-four); background: #ffffff; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
  #backend h2 { display: block; color: #ffffff; font-size: 40px; padding: 30px 0px 0px 0px; }
  #backend h3 { display: block; color: #ffffff; width: 70px; font-size: 17px; height: 45px; margin: 0 auto; padding: 25px 0px 0px 0px;  border: solid 2px #ffffff; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
  #backend h4 { display: block; color: #ffffff; font-size: 20px; padding: 25px 0px 0px 0px; }
    #backend h3.php { background: url(./_images/icon-php.png) left top var(--main-color-five); text-indent: -9999px; }
    #backend h3.mysql { background: url(./_images/icon-mysql.png) left top var(--main-color-five); text-indent: -9999px; }
    #backend h3.codeigniter { background: url(./_images/icon-codeigniter.png) left top var(--main-color-five); text-indent: -9999px; }
    #backend h3.wordpress { background: url(./_images/icon-wordpress.png) left top var(--main-color-five); text-indent: -9999px; }


#stack { text-align: center; padding: 20px 0px; }
#stack .block { background: url(./_images/line-hor.png) left 36px repeat-x; margin: 60px 0px; }
    #stack .block article { display: block; margin: 0px 20px; }
    #stack .block article p { display: block; margin-top: 15px;  }
    #stack .block article a { display: inline-block; margin: 15px auto auto auto; padding: 10px 20px; border: solid 2px #ffffff; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
      #stack .block article a:hover { color: var(--main-color-four); background: #ffffff; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s; }
  #stack h2 { display: block; color: #ffffff; font-size: 40px; padding: 30px 0px 0px 0px; }
  #stack h3 { display: block; color: #ffffff; width: 70px; font-size: 17px; height: 45px; margin: 0 auto; padding: 25px 0px 0px 0px;  border: solid 2px #ffffff; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
  #stack h4 { display: block; color: #ffffff; font-size: 20px; padding: 25px 0px 0px 0px; }
    #stack h3.local { background: url(./_images/icon-mac.png) left top var(--main-color-four); text-indent: -9999px; }
    #stack h3.git { background: url(./_images/icon-bitbucket.png) left top var(--main-color-four); text-indent: -9999px; }
    #stack h3.staging { background: url(./_images/icon-staging.png) left top var(--main-color-four); text-indent: -9999px; }
    #stack h3.deploy { background: url(./_images/icon-server.png) left top var(--main-color-four); text-indent: -9999px; }


#portfolio {}
  #portfolio .space { margin: 20px; }
  #portfolio h2 { display: block; color: #ffffff; font-size: 40px; padding: 15px 0px 15px 0px; text-align: center; }

  #portfolio .space .img { padding: 5px; background: rgba(0, 0, 0, 0.5); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
    #portfolio .space .img img { display: block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

  #portfolio .space article { padding: 15px; text-align: left; }
  #portfolio .space article h3 { display: block; color: #ffffff; font-size: 20px; padding: 0px 0px 20px 0px; /*text-align: center;*/ }
  #portfolio .space article p { font-size: 14px; font-weight: normal; line-height: 18pz;  }
  #portfolio .space article a { display: inline-block; background: var(--main-color-five); color: #ffffff; margin: 15px auto auto auto; padding: 5px 20px; border: solid 2px #ffffff; font-size: 14px; font-weight: normal; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
      #portfolio .space article a:hover { color: var(--main-color-five); background: #ffffff; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}


#quote { text-align: center; }
#quote article { display: block; margin: 60px 0px; }
  #quote article img { display: block; margin: 0px auto 20px auto; }
  #quote blockquote { font-size: 30px; color: #ffffff; font-weight: normal; padding: 0 20px 18px 20px; quotes: "\201C" "\201D"; text-align: center; }
  #quote blockquote p { display: inline; font-size: 16px; color: #ffffff; font-weight: bold; padding: 0 0 18px 0; text-align: center; }
  #quote blockquote:before { content: open-quote; font-weight: bold; padding-right: 2px; }
  #quote blockquote:after { content: close-quote; font-weight: bold; padding-left: 2px; }
  #quote article h4 { font-size: 18px; color: #ffffff; font-weight: normal; }


#contact { background: url(./_images/dna-profile-dark.jpg) center center no-repeat #323232; background-size: cover; }
  #contact .space { text-align: center; padding: 20px; margin: 20px; /*background: rgba(0, 0, 0, 0.5); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;*/}
  #contact div.pure-control-group { margin-bottom: 20px; }
  #contact div.pure-control-group label { font-size: 20px; padding-bottom: 5px;  font-family: 'Titillium Web', sans-serif; padding-left: 3px; color: #ffffff;}
  #contact div.pure-control-group input[type="text"] { height: 40px; font-size: 15px; }
  #contact div.pure-control-group input[type="email"] { height: 40px; font-size: 15px; }
    #contact .left { padding-right: 20px; }
    #contact .right { padding-left: 20px; }
  #contact div.pure-control-group textarea { height: 140px; font-size: 15px; }
  #contact div.pure-control-group input[type="submit"]  { display: inline-block; font-size: 15px; margin: auto auto; padding: 10px 25px; border: solid 2px #ffffff; color: #ffffff; background: none; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
      #contact div.pure-control-group input[type="submit"]:hover { color: var(--main-color-four); background: #ffffff; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
  #contact .form-error { padding: left; font-style: italic; color: #ffffff; font-family: 'Titillium Web', sans-serif; }
  p.last { padding: 0px; margin: 0px;  }
  #contact span.req, #contentcontact p { font-family: 'Titillium Web', sans-serif; font-style: italic; color: gray; padding-bottom: 0px;  }
  #contact article h2 { color: #ffffff; font-size: 40px; }


  #footer { min-height: 200px; background: url(./_images/dna-footer.jpg) center center no-repeat #323232; background-size: cover; }
    #footer #innerfooter { padding: 40px 0px; }
    #footer #innerfooter .block { margin: 20px 0px; }
    #footer #innerfooter .inner { padding: 0px 40px;] }

    #footer #innerfooter h2 a { color: #ffffff; text-decoration: none; }
      #footer #innerfooter h2 a:hover { text-decoration: underline; }
    #footer #innerfooter ul { display: block; list-style: none; }
      #footer #innerfooter ul li { display: block; padding-bottom: 8px; padding-left: 25px; background: url(./_images/dna-bullet.png) left 2px no-repeat; color: #ffffff; }
        #footer #innerfooter ul li a { display: block; color: #ffffff; text-decoration: none; }
          #footer #innerfooter ul li a:hover { text-decoration: underline; }

    #footer #innerfooter .inner input[type="text"] { height: 40px; font-size: 15px; }
    #footer #innerfooter .inner input[type="email"] { height: 40px; font-size: 15px; }
    #footer #innerfooter .inner input[type="submit"]  { display: inline-block; font-size: 15px; margin: 15px 0px 0px 0px; padding: 10px 25px; border: solid 2px #ffffff; color: #ffffff; background: none; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}
    #footer #innerfooter .inner input[type="submit"]:hover { color: var(--main-color-four); background: #ffffff; -webkit-transition: color 0.5s, background 0.5s, -webkit-transform 0.5s; transition: color 0.5s, background 0.5s, transform 0.5s;}


/* ### MEDIA STYLES ### */
@media( max-width: 767px )
{
    #header nav#main-menu .menu { display: none; }
    #header #mobilemenu { display: block; }

    #contact .left { padding-right: 0px; }
    #contact .right { padding-left: 0px; }

    #about .image .imageholder { float: none; margin: auto; }
    #about .text article { margin: 20px 0px 0px 0px; padding: 0px 20px; text-align: center; }

    #blogoverview .image .imageholder { float: none; margin: auto; }
    #blogoverview .image .imageholder.right { float: none; margin: 40px auto 0px auto; }
    #blogoverview .text article { margin: 20px 0px 0px 0px; padding: 0px 20px; text-align: center; }


}


@media ( max-width: 568px  )
{

}


@media ( max-width: 480px )
{

  #skills h2 { margin: 0px 20px; font-size: 30px; }
  #stack h2 { margin: 0px 20px; font-size: 30px; }

}
