@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.blasttext {
  font-weight: normal; }
  .blasttext h1, .blasttext h2, .blasttext h3, .blasttext h4, .blasttext h5, .blasttext h6 {
    color: #ffffff;
    font-weight: normal; }
  .blasttext h1 a, .blasttext h2 a, .blasttext h3 a, .blasttext h4 a, .blasttext h5 a, .blasttext h6 a {
    color: #ffffff;
    text-decoration: none; }
    .blasttext h1 a:hover, .blasttext h2 a:hover, .blasttext h3 a:hover, .blasttext h4 a:hover, .blasttext h5 a:hover, .blasttext h6 a:hover {
      text-decoration: underline; }
  .blasttext h1 {
    font-size: 40px; }
  .blasttext h2 {
    font-size: 35px; }
  .blasttext h3 {
    font-size: 30px; }
  .blasttext h4 {
    font-size: 25px; }
  .blasttext h5 {
    font-size: 20px; }
  .blasttext h6 {
    font-size: 15px; }
  .blasttext p {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
    letter-spacing: 1.5px; }
    .blasttext p a {
      color: white;
      text-decoration: underline; }
      .blasttext p a:hover {
        text-decoration: underline;
        color: #ffffff; }
  .blasttext a {
    color: #ffffff;
    text-decoration: underline; }
    .blasttext a:hover {
      text-decoration: underline; }
  .blasttext dl, .blasttext dt {
    color: #ffffff; }
  .blasttext ol {
    padding-left: 17px;
    list-style: decimal;
    padding-bottom: 18px; }
  .blasttext ul {
    padding-left: 13px;
    list-style: disc;
    padding-bottom: 18px; }
  .blasttext ul li, .blasttext ol li {
    color: #ffffff;
    padding: 4px 0; }
  .blasttext ul li a, .blasttext ol li a {
    color: #ffffff;
    text-decoration: none; }
    .blasttext ul li a:hover, .blasttext ol li a:hover {
      text-decoration: underline; }
  .blasttext ul li ul {
    list-style: circle;
    padding: 4px 0 0px 20px; }
  .blasttext ul li ul li ul {
    list-style: lower-roman;
    padding: 4px 0 0px 20px; }
  .blasttext ol li ol {
    list-style: decimal;
    padding: 4px 0 0px 20px; }
  .blasttext ol li ol li ol {
    list-style: lower-roman;
    padding: 4px 0 0px 20px; }
  .blasttext strong, .blasttext b {
    font-weight: bold; }
  .blasttext cite, .blasttext em, .blasttext i {
    font-style: italic; }
  .blasttext s, .blasttext del, .blasttext strike {
    text-decoration: line-through; }
  .blasttext small {
    font-size: 11px; }
  .blasttext big {
    font-size: 15px; }
  .blasttext sup {
    bottom: 1ex; }
  .blasttext sub {
    top: 0.5ex; }
  .blasttext sup, .blasttext sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline; }
  .blasttext abbr, .blasttext acronym, .blasttext dfn {
    border-bottom: 1px dotted #ffffff;
    cursor: help; }
  .blasttext pre {
    background: #222222;
    font-family: Courier, monospace;
    margin-bottom: 18px;
    overflow: auto;
    padding: 10px; }
  .blasttext table, .blasttext td, .blasttext th {
    color: #ffffff; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

.name-lockup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.fork-tag {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #1E3648;
  color: white;
  padding: 2px 6px;
  transition: all 0.3s ease-in-out;
  transform-origin: top right; }
  .fork-tag:hover {
    color: white;
    animation: wiggle 0.4s linear 1; }

@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(8deg); }
  50% {
    transform: rotate(-8deg); }
  80% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(0deg); } }
.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

* {
  box-sizing: border-box; }

.hor-block {
  padding: 60px 0px 60px 0px; }
  .hor-block.prim {
    background: #ffffff; }
  .hor-block.one {
    background: #E8EDF1; }
  .hor-block.two {
    background: #0A3253; }
  .hor-block.three {
    background: #447499; }
  .hor-block.four {
    background: #44647C; }
  .hor-block.five {
    background: #1E3648; }
  .hor-block.six {
    background: #222222; }

#main-nav {
  height: 80px;
  background: #ffffff;
  padding: 0px; }
  #main-nav a.logo {
    display: block;
    width: 86px;
    height: 46px;
    background: url(./_images/dnalogohorblue.png);
    text-indent: -9999px;
    margin: 17px 0px 0px 30px;
    float: left; }
  #main-nav nav ul {
    display: inline-block;
    float: right;
    list-style: none;
    margin: 30px 30px 0px 0px; }
    #main-nav nav ul li {
      display: inline-block;
      float: left;
      padding-left: 17px; }
      #main-nav nav ul li a {
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: #1E3648; }
        #main-nav nav ul li a:hover, #main-nav nav ul li a .current_page_item a {
          color: #222222; }
  #main-nav #mobilemenu {
    display: none;
    float: right;
    width: 34px;
    height: 31px;
    text-indent: -9999px;
    background: url(./_images/mobilemenu.gif);
    margin: 25px 15px 0px 0px; }
  @media (max-width: 767px) {
    #main-nav #main-menu {
      display: none; }
    #main-nav #mobilemenu {
      display: block; } }

.mmclosebt {
  display: block;
  position: absolute;
  left: 20px;
  top: -30px;
  width: 20px;
  height: 20px;
  background: url(./_images/close.png);
  text-indent: -9999px; }

#block-slider {
  height: 1px;
  margin-top: 200px;
  padding: 0px;
  background: url(./_images/gray2.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden; }
  #block-slider video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    opacity: 0.45; }
@media( max-width: 700px ) {
  #block-slider video {
    display: none; } }
  #block-slider div {
    display: inline-block;
    opacity: 0;
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    transform: translate(-50%, -50%); }
    #block-slider div img {
      display: block;
      margin: auto; }
    #block-slider div h2 {
      text-align: center;
      font-size: 40px; }
    #block-slider div p {
      display: block;
      text-align: center;
      font-size: 15px; }
    #block-slider div a {
      min-width: 130px;
      margin: 10px 5px 0 5px;
      display: inline-block;
      padding: 10px 20px;
      border: solid 2px #ffffff;
      color: #ffffff;
      text-decoration: none;
      line-height: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      #block-slider div a:hover {
        color: #0A3253;
        background: #ffffff; }

#temp-twitter {
  background: #ffffff;
  padding: 10px 0px; }
  #temp-twitter a {
    display: block;
    margin: 0px auto;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #temp-twitter a img {
      display: block;
      width: 40px;
      height: 40px; }
    #temp-twitter a:hover {
      opacity: 0.5; }

#block-about .image {
  background: url(./_images/line-hor.png) center center repeat-x; }
  #block-about .image img {
    display: block;
    width: 200px;
    height: 200px;
    float: right;
    display: block;
    padding: 5px;
    border: solid 2px #ffffff;
    color: #ffffff;
    text-decoration: none;
    background: #0A3253;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #block-about .image img:hover {
      color: #0A3253;
      background: #ffffff;
      opacity: 1; }
#block-about article {
  display: block;
  margin: 0px 100px 0px 60px;
  padding: 0px;
  text-align: left;
  display: block;
  color: #ffffff;
  font-size: 40px;
  padding: 0px 0px 15px 0px;
  text-align: left; }
  #block-about article p:last-child {
    padding: 0px;
    margin: 0px; }
  #block-about article a {
    display: inline-block;
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    border: solid 2px #ffffff;
    color: #ffffff;
    text-decoration: none;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #block-about article a:hover {
      color: #0A3253;
      background: #ffffff; }
@media( max-width: 767px ) {
  #block-about article {
    margin: 0px 20px;
    text-align: center; }
  #block-about .image img {
    float: none;
    margin: 0 auto 30px auto; } }
#block-frontendstack {
  padding: 60px 0 20px 0;
  text-align: center; }
  #block-frontendstack h2 {
    margin-bottom: 30px; }
  #block-frontendstack .block {
    background: url(./_images/line-hor.png) left 36px repeat-x; }
    #block-frontendstack .block article {
      display: block;
      margin: 0px 20px 40px 20px; }
      #block-frontendstack .block article img {
        display: block;
        padding: 0px;
        border: solid 2px #ffffff;
        background: #447499;
        margin: auto;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px; }
      #block-frontendstack .block article p {
        display: block; }
      #block-frontendstack .block article a {
        display: inline-block;
        margin: 15px auto auto auto;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #block-frontendstack .block article a:hover {
          color: #447499;
          background: #ffffff; }
      #block-frontendstack .block article h3 {
        font-size: 25px;
        padding: 15px 0px 0px 0px; }

#block-backendstack {
  padding: 60px 0 20px 0;
  text-align: center; }
  #block-backendstack h2 {
    margin-bottom: 30px; }
  #block-backendstack .block {
    background: url(./_images/line-hor.png) left 36px repeat-x; }
    #block-backendstack .block article {
      display: block;
      margin: 0px 20px 40px 20px; }
      #block-backendstack .block article img {
        display: block;
        padding: 0px;
        border: solid 2px #ffffff;
        background: #44647C;
        margin: auto;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px; }
      #block-backendstack .block article p {
        display: block; }
      #block-backendstack .block article a {
        display: inline-block;
        margin: 15px auto auto auto;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #block-backendstack .block article a:hover {
          color: #44647C;
          background: #ffffff; }
      #block-backendstack .block article h3 {
        font-size: 25px;
        padding: 15px 0px 0px 0px; }

#block-workflowstack {
  padding: 60px 0 20px 0;
  text-align: center; }
  #block-workflowstack h2 {
    margin-bottom: 30px; }
  #block-workflowstack .block {
    background: url(./_images/line-hor.png) left 36px repeat-x; }
    #block-workflowstack .block article {
      display: block;
      margin: 0px 20px 40px 20px; }
      #block-workflowstack .block article img {
        display: block;
        padding: 0px;
        border: solid 2px #ffffff;
        background: #1E3648;
        margin: auto;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px; }
      #block-workflowstack .block article p {
        display: block; }
      #block-workflowstack .block article a {
        display: inline-block;
        margin: 15px auto auto auto;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #block-workflowstack .block article a:hover {
          color: #1E3648;
          background: #ffffff; }
      #block-workflowstack .block article h3 {
        font-size: 25px;
        padding: 15px 0px 0px 0px; }

#block-atmos, #block-atmos-top {
  background: url(./_images/dna-profile.jpg) center center no-repeat #323232;
  background-size: cover;
  text-align: center; }
  #block-atmos img, #block-atmos-top img {
    display: block;
    margin: 0px auto 20px auto; }
  #block-atmos a, #block-atmos-top a {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    border: solid 2px #ffffff;
    color: #ffffff;
    text-decoration: none;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #block-atmos a:hover, #block-atmos-top a:hover {
      color: #447499;
      background: #ffffff; }

#block-portfolio {
  padding: 60px 0 0px 0; }
  #block-portfolio h2 {
    margin: 0 0 30px 0;
    text-align: center; }
  #block-portfolio .item {
    background: url(./_images/line-hor.png) left 80px repeat-x #0A3253; }
    #block-portfolio .item article {
      text-align: center;
      padding: 0 20px 60px 20px; }
      #block-portfolio .item article img {
        width: 210px;
        height: 210px;
        margin: auto;
        display: block;
        padding: 5px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        background: #0A3253;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #block-portfolio .item article img:hover {
          color: #0A3253;
          background: #ffffff;
          opacity: 1; }
      #block-portfolio .item article h4 {
        padding: 15px 0px 5px 0px; }
      #block-portfolio .item article a {
        display: inline-block;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #block-portfolio .item article a:hover {
          color: #0A3253;
          background: #ffffff; }

#block-portfolio-old {
  padding: 60px 0 0px 0; }
  #block-portfolio-old h2 {
    margin: 0 0 30px 0;
    text-align: center; }
  #block-portfolio-old .item {
    background: url(./_images/line-hor.png) left 80px repeat-x #447499; }
    #block-portfolio-old .item article {
      text-align: center;
      padding: 0 20px 60px 20px; }
      #block-portfolio-old .item article img {
        width: 160px;
        height: 160px;
        margin: auto;
        display: block;
        padding: 5px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        background: #447499;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #block-portfolio-old .item article img:hover {
          color: #447499;
          background: #ffffff;
          opacity: 1; }
      #block-portfolio-old .item article h5 {
        padding: 15px 0px 5px 0px; }
      #block-portfolio-old .item article a {
        display: inline-block;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #block-portfolio-old .item article a:hover {
          color: #447499;
          background: #ffffff; }

#block-contact {
  background: url(./_images/dna-profile-dark.jpg) center center no-repeat;
  background-size: cover;
  padding: 60px 40px;
  text-align: center; }
  #block-contact .pure-control-group {
    margin-bottom: 20px; }
    #block-contact .pure-control-group label {
      font-size: 20px;
      padding-bottom: 5px;
      padding-left: 3px;
      color: #ffffff; }
    #block-contact .pure-control-group input[type="text"] {
      height: 40px;
      font-size: 15px; }
    #block-contact .pure-control-group input[type="email"] {
      height: 40px;
      font-size: 15px; }
    #block-contact .pure-control-group input[type="submit"] {
      display: block;
      margin: auto;
      line-height: 18px;
      display: inline-block;
      padding: 10px 20px;
      border: solid 2px #ffffff;
      color: #ffffff;
      text-decoration: none;
      line-height: 18px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      #block-contact .pure-control-group input[type="submit"]:hover {
        color: #447499;
        background: #ffffff; }
    #block-contact .pure-control-group textarea {
      height: 140px;
      font-size: 15px; }
    #block-contact .pure-control-group .form-error {
      padding: left;
      font-style: italic;
      color: #ffffff; }
  #block-contact .left {
    padding-right: 20px; }
  #block-contact .right {
    padding-left: 20px; }
  @media (max-width: 767px) {
    #block-contact .left {
      padding-right: 0px; }
    #block-contact .right {
      padding-left: 0px; } }

#blog-overview article {
  display: block;
  text-align: left; }
  #blog-overview article h1 {
    font-size: 30px; }
  #blog-overview article h2 {
    font-size: 20px; }
  #blog-overview article h3 {
    font-size: 25px; }
  #blog-overview article h5 {
    font-size: 18px;
    padding-bottom: 7px; }
  #blog-overview article a.more {
    display: inline-block;
    padding: 10px 20px;
    border: solid 2px #ffffff;
    color: #ffffff;
    text-decoration: none;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #blog-overview article a.more:hover {
      color: #0A3253;
      background: #ffffff; }
  #blog-overview article .size-full, #blog-overview article .size-large {
    width: 90%;
    height: auto;
    margin: 20px 20px;
    border: solid 1px #ffffff;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  #blog-overview article iframe {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0px;
    border: solid 1px #ffffff;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
#blog-overview .img {
  background: url(./_images/line-hor.png) center center repeat-x; }
  #blog-overview .img img {
    display: block;
    width: 200px;
    height: 200px;
    display: block;
    padding: 5px;
    border: solid 2px #ffffff;
    color: #ffffff;
    text-decoration: none;
    background: #0A3253;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #blog-overview .img img:hover {
      color: #0A3253;
      background: #ffffff;
      opacity: 1; }
#blog-overview .right article {
  margin: 0px 60px 0px 100px; }
#blog-overview .right img {
  float: left; }
#blog-overview .left article {
  margin: 0px 100px 0px 60px; }
#blog-overview .left img {
  float: right; }
@media( max-width: 767px ) {
  #blog-overview .right article {
    margin: 0px 20px;
    text-align: center; }
  #blog-overview .right img {
    float: none;
    margin: 0px auto 30px auto; }
  #blog-overview .left article {
    margin: 0px 20px;
    text-align: center; }
  #blog-overview .left img {
    float: none;
    margin: 0 auto 30px auto; } }
#block-footer {
  background: #ffffff;
  background-size: cover; }
  #block-footer #innerfooter {
    padding: 0px 0px; }
    #block-footer #innerfooter .block {
      margin: 20px 0px; }
    #block-footer #innerfooter .inner {
      padding: 0px 40px; }
      #block-footer #innerfooter .inner input[type="text"] {
        height: 40px;
        font-size: 15px; }
      #block-footer #innerfooter .inner input[type="email"] {
        height: 40px;
        font-size: 15px; }
      #block-footer #innerfooter .inner input[type="submit"] {
        margin-top: 10px;
        height: 40px;
        line-height: 4px;
        display: inline-block;
        padding: 10px 20px;
        border: solid 2px #ffffff;
        color: #ffffff;
        text-decoration: none;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #block-footer #innerfooter .inner input[type="submit"]:hover {
          color: #447499;
          background: #ffffff; }
    #block-footer #innerfooter ul {
      list-style: none;
      padding: 0px;
      margin: 0px; }
      #block-footer #innerfooter ul li {
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        padding-left: 25px;
        background: url(./_images/dna-bullet.png) left 6px no-repeat; }

/*# sourceMappingURL=main.css.map */
